@import "tailwindcss";
@keyframes floating1 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  
  @keyframes floating2 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-6px); }
  }
  
  @keyframes floating3 {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-14px); }
  }
  
  .animate-floating1 {
    animation: floating1 6s ease-in-out infinite;
  }
  
  .animate-floating2 {
    animation: floating2 8s ease-in-out infinite;
  }
  
  .animate-floating3 {
    animation: floating3 10s ease-in-out infinite;
  }